.avtorizstion-page {
  margin-top: 122px;
  position: relative;

  .container {
    position: relative;

    &::before {
      content: url('../favicon/enter/left.svg');
      position: absolute;
      lefT: 10%;
      top: 0;
    }

    &::after {
      content: url('../favicon/right.svg');
      position: absolute;
      top: -55%;
      right: -10%;
      z-index: -1;
    }
  }
}

.page-title {
  margin-bottom: 60px;
}

.avtorization-form {
  display: flex;
  flex-direction: column;

  .input-custom {
    min-width: 225px;
    margin-bottom: 20px;
  }

  .button-custom {
    margin-top: 35px;
    margin-bottom: 10px;
  }

  .border-btn {
    margin-top: 0;
  }
}