//reset standart

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: $anim;

  &:hover {
    text-decoration: none;
  }
}

img {
  width: 100%;
  height: auto;
}

//buttons

.button-custom {
  font-family: LB, Arial, sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1.5px;
  color: $black;
  transition: $anim;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 13px 26px;
  border: none;
  cursor: pointer;
  height: 40px;

}

.seleted-btn {
  font-family: LSB, Arial, sans-serif;
  font-size: 11px;
  color: white;
  background: $blue;

  &:hover {
    color: white;
  }
}

.border-btn {
  border: 1px solid rgba(88, 123, 201, 0.2);
  text-align: center;
  font-family: LSB, Arial, sans-serif;
  font-size: 11px;
}

//text

.page-title {
  font-family: LEB, Arial, sans-serif;
  font-size: 20px;
  color: #333;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.page-subtitle {
  font-family: LEB,Arial, sans-serif;
  font-size: 14px;
  color: #333;
  letter-spacing: 2px;
  line-height: 110%;
  text-transform: uppercase;
}

.page-desc {
  font-family: LR, Arial, sans-serif;
  font-size: 14px;
  color: $black;
  letter-spacing: 0.1px;
  line-height: 120%;

  a {
    color: $blue;
    text-decoration: underline;
  }
}

.number_span {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #A1BDEB;
}

//forms

.tooltip-wrap {
  position: relative;
  width: 100%;
  margin-right: 20px;

  .tooltip-btn {
    font-family: LaB, Arial, sans-serif;
    font-size: 11px;
    color: #333;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 12px;
  }
}

.input-wrap  {
  .tooltip-wrap {
    width: 48.5%;

      .input-custom {
        width: 100%;
      }
  }

  .no-right-margin {
    margin-right: 0!important;
  }
}

.profile-diller_form legend.page-subtitle {
  font-size: 12px;
}

.new-diller_form legend.page-subtitle {
  font-size: 12px;
}

.input-custom {
  font-family: LR, Arial, sans-serif;
  font-size: 12px;
  color: $black;
  border-radius: 4px;
  border: 1px solid #F3F7FB;
  padding: 15px 20px;
  outline-color: $blue;
  max-height: 45px;
}

.radio-wrap {
  position: relative;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.radio-custom {
  display: none;
}

.radio-custom:checked + .radio-label {
  &::before {
    background: $blue;
    border: none;
  }

  &::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
    top: 4px;
    left: 6px;
  }
}

.radio-label {
  font-family: LR, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 100%;
  color: $black;
  cursor: pointer;
  padding-left: 45px;
  position: relative;
  transition: $anim;

  &::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    position: absolute;
    left: 0;
    top: -2px;
  }
}

.select-cont {
  position: relative;

  .mdi {
    position: absolute;
    height: 100%;
    top: 0;
    right: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
}

.select-custom {
  width: 100%;
  font-family: LR, Arial, sans-serif;
  font-size: 12px;
  color: $black;
  line-height: 100%;
  letter-spacing: 0.1px;
  border-radius: 4px;
  border: 1px solid #F3F7FB;
  appearance: none;
  position: relative;
  z-index: 1;
  background: none;
  outline-color: $blue;
  padding: 15px 20px;
  background: white;
}


.hidden-date, .hidden-date_year {
  font-family: LR, Arial, sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  height: 45px;
  padding-left: 16px;
  appearance: none;
  max-width: 120px;
  position: relative;
  z-index: 1;
  background: none;
}

.hidden-date_year {
  border-color: #F3F7FB;
}

.label {
  font-family: LM, Arial, sans-serif;
  font-size: 10px;
  color: #777;
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.small-label {
  font-family: LR, Arial, sans-serif;
  font-size: 12px;
  color: #b1b1b1;
  letter-spacing: 0.1px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 100%;
  margin-bottom: 20px;
}

.hidden-input {
  border: none;
  background: none;
  color: #587BC9;
  font-family: LaB, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.report-subtitle_padding {
  padding-left: 5.8%;
  margin-bottom: 10px;
}

.report-diller_cont {
  padding: 0 4.3%;
}

.date-wrap {
  position: relative;

  svg {
    position: absolute;
    height: 100%;
    max-height: 45px;
    top:0;
    right: 13px;
    z-index: 0;

    path {
      fill: #A1BDEB;
    }
  }
}

//datepicker

.ui-datepicker {
  background: white;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #f3f7fb;
  display: none;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 50%;
  cursor: pointer;
}

.ui-datepicker-next {
  text-align: right;
}

.ui-icon-circle-triangle-e {
  font-size: 0;
  position: relative;
  width: 50%;

  &::before {
    content: '\f142';
    font: normal normal normal 24px/1 "Material Design Icons";
    color: $blue;
  }
}

.ui-icon-circle-triangle-w {
  font-size: 0;
  width: 50%;
  position: relative;

  &::before {
    content: '\f141';
    font: normal normal normal 24px/1 "Material Design Icons";
    color: $blue;
  }
}

.ui-datepicker-month, .ui-datepicker-year {
  font-family: LR,Arial,sans-serif;
  font-size: 12px;
  color: $black;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.valid {
  font-family: LR, Arial, sans-serif;
  font-size: 11px;
  color: $red-valid;
  position: relative;

  &::before {
    position: absolute;
    font-size: 18px;
    right: 15px;
    top: -3px;
  }
}

//message

.message {
  background: $blue;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  text-align: center;
  color: white;
  margin-top: 26px;

  .message-content {
    font-family: LM, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 110%;
  }

  a {
    color: white;
    text-decoration: underline;
  }

  .close-message {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    background: none;
    top: 11px;
    right: 13px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
    }

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 2px;
      background: white;
      transform: rotate(-45deg);
    }
  }
}

//slick-slider

.slick-next, .slick-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(161, 189, 235, 0.3);
  transition: $anim;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 0;
  color: $blue;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: white;
    background: rgba(88, 123, 201, 1);
  }
}

.slick-prev {
  &::before {
    content: '\f141';
    font: normal normal normal 24px/1 "Material Design Icons";
  }
}

.slick-next {
  &::before {
    content: '\f142';
    font: normal normal normal 24px/1 "Material Design Icons";
  }
}


.input-wrap {
  display: flex;
  width: 100%;



  .input-custom {
    //padding-right: 0;
    width: 48.5%;
    margin-bottom: 20px;

    &:nth-of-type(1) {
      margin-right: 10px;
    }
  }

  .date-wrap {
    max-width: 172px;

    input {
      width: 100%;

    }
  }
}

//niceselect

.nice-select.open .list {
  width: 100%;
  top: auto;
  bottom: 105%;
  max-height: 200px;
  overflow-y: scroll;
}

.table-select_wrap:before {
  display: none;
}

.table-input, .table-select_wrap .table-select_model {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
}


//offsets

.hidden{
  display: none;
}

.offset-top-18{
  margin-top: 18px;
}


//crutch

.input-wrap .form-group:first-child .input-custom{
  width: 95%!important;
}
.input-wrap .form-group:nth-child(2) .input-custom{
  width: 100%!important;
}