@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: LEB;
  src: url(../fonts/Lato-ExtraBold.ttf);
}

@font-face {
  font-family: LSB;
  src: url(../fonts/Lato-SemiBold.ttf);
}

@font-face {
  font-family: LB;
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: LaB;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: LR;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: LM;
  src: url(../fonts/Lato-Medium.ttf);
}

@font-face {
  font-family: LL;
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: REB;
  src: url(../fonts/ralewayextrabold.ttf), url(../fonts/ralewayextrabold.woff), url(../fonts/ralewayextrabold.woff2);
}

@font-face {
  font-family: RSB;
  src: url(../fonts/ralewaysemibold.ttf), url(../fonts/ralewaysemibold.woff), url(../fonts/ralewaysemibold.woff2);
}

@font-face {
   font-family: RB;
  src: url(../fonts/ralewaybold.ttf), url(../fonts/ralewaybold.woff), url(../fonts/ralewaybold.woff2);
}

@font-face {
  font-family: RM;
  src: url(../fonts/ralewaymedium.ttf), url(../fonts/ralewaymedium.woff), url(../fonts/ralewaymedium.woff2);
}


